// sass --watch style.scss:style.min.css --style compressed

$color-a: #6fcde4;
$color-b: #ffa922;
$color-c: #40b6e5;
$color-d: #ffd705;
$color-park: #b0bc22;

.parks, .d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10 {
	stroke: #fff;
	stroke-miterlimit: 10;
}
.d1, .d4, .d8 {
	fill: $color-a;
}
.d2, .d6, .d10 {
	fill: $color-b;
}
.d3, .d9 {
	fill: $color-c;
}
.d5, .d7 {
	fill: $color-d;
}
.parks {
	fill: $color-park;
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}