// sass --watch style.scss:style.min.css --style compressed

$color-a: #37d0f0;
$color-b: #2ab0cc;
$color-c: #72c5dd;
$color-d: #53b8d5;
$color-park: #26a79b;
$color-water: #264653;
$color-stroke: #c0eded;

body {
	background-color: $color-water;
}

.parks, .d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10 {
	stroke: $color-stroke;
	stroke-miterlimit: 10;
	transition: all 500ms;
}
.d1, .d4, .d8 {
	fill: $color-a;

	&:hover {
		fill: lighten($color-a, 10%);
	}
}
.d2, .d6, .d10 {
	fill: $color-b;

	&:hover {
		fill: lighten($color-b, 10%);
	}
}
.d3, .d9 {
	fill: $color-c;

	&:hover {
		fill: lighten($color-c, 10%);
	}
}
.d5, .d7 {
	fill: $color-d;

	&:hover {
		fill: lighten($color-d, 10%);
	}
}
.parks {
	fill: $color-park;
	&:hover {
		fill: lighten($color-park, 10%);
	}
}
#back {
	fill: $color-water;
}

#dist-popup {
	position: absolute;
}

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}